@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #fafafa;
    /* font-family: 'Oleo Script Swash Caps', cursive; */
}

#nav{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    /* border-bottom: 1px solid #2c2727; */
    box-shadow: 0 0 1px;
    background-color: #fafafa;
}

#logo{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2.5rem;
    padding-left: 3rem;
    line-height: 1.2rem;
    cursor: pointer;
    /* color: #FAFAFA; */
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    padding: 1.05rem;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    /* color: #0F298B; */
}

nav ul li:active, nav ul li:hover{
    color: #2549D3;
}

.bttn{
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
    border-radius: 0.5rem;
    border: none;
    background-color: #2549D3;
    box-shadow: 0 2px 2px #2548d3;
    margin-right: 3rem;
    cursor: pointer;
}

.Fcolumn{
    width: 50%;
    float: left;
}

.Scolumn{
    width: 50%;
    float: left;
}